{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Agenda de actividades a preinformar{% endblock %}


{% block cuerpo %}

    <div>
        {{ form_label(form.sede) }}
        {{ form_errors(form.sede) }}
        {{ form_widget(form.sede) }}
    </div>
    
    <div id="ajaxMsg"></div>
    <div id="programacion"></div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

<script type="text/javascript">

    $("#AgendaMedica_sede").change(function(){
        
        var sede = $("#AgendaMedica_sede").val();
                
    	if($.isNumeric(sede)){

    	    var url = "{{ path('agenda_aux_buscar') }}";
    	    $("#programacion").html("<img src='{{ asset('bundles/cahis/images/ajax-loader.gif') }}' />");
        	
    		$.post(url,{
                sede: sede
            },function(data){
                if(data.responseCode==200 ){

                	$("#programacion").empty();
                	$("#ajaxMsg").empty();
                    
                    var tabla = '<table class="table table-hover">';
                    tabla += '<thead>';
                    tabla += '<tr>';
                    tabla += '<th>Hora</th><th>Facturado</th><th>Identificación</th><th>Paciente</th><th>Entidad</th><th>Actividad</th><th>Observación</th><th>Estado</th><th>Opciones</th>';
                    tabla += '</tr>';
                    tabla += '</thead>';
                    tabla += '<tbody>';
                    tr = '';               	             
                
                	$.each(data.agenda, function(i, val) {        	

                		var ruta = "";

                		/*switch (val.cups) { 
                    	   	case '896100': 
                    	   	    ruta = Routing.generate('mapa_new', { 'factura': val.id });
                   	      	 break
                    	   	case '894102': 
                    	   	    ruta = Routing.generate('te_new', { 'factura': val.id });
                    	   	    break
                    	   	case '895001': 
                    	   	    ruta = Routing.generate('th_new', { 'factura': val.id });
                    	   	    break
                    	   	case '920408': 
                    	   	    ruta = Routing.generate('dipi_new', { 'factura': val.id });
                    	   	    break
                    	   	case '920407': 
                    	   	    ruta = Routing.generate('perfusion_new', { 'factura': val.id });
                    	   	    break
                    	   	case '890202': 
                    	   	    ruta = Routing.generate('signos_edit', { 'id': val.id });
                    	   	    break
                    	   	case '881234': 
                    	   	    ruta = Routing.generate('eco_new', { 'factura': val.id });
                    	   	    break
                    	   	case '881236': 
                    	   	    ruta = Routing.generate('ecostres_new', { 'factura': val.id });
                    	   	    break
                    	}*/
                        
                        tr += '<tr>';
                        tr += '<td>'+val.hora+'</td>';
                        tr += '<td>'+val.fecha+'</td>';
                        tr += '<td>'+val.identificacion+'</td>';
                        tr += '<td>'+val.priNombre+" "+val.segNombre+" "+val.priApellido+" "+val.segApellido+'</td>';
                        tr += '<td>'+val.cliente+'</td>';
                        tr += '<td>'+val.cargo+'</td>';                        
                        tr += '<td>'+val.observacion+'</td>';
                        tr += '<td>'+val.estado+'</td>';
                        tr += '<td><a href="'+ ruta +'">Realizar</a></td>';
                        tr += '<tr>';                               
                        
            		});

                	tabla += tr;
                    tabla += '</tbody></table>';
					
                	$("#programacion").html(tabla);
                 }
                 else if(data.responseCode==400){
                	 $("#programacion").empty();
                  	$('#ajaxMsg').html(data.msg);
                    $('#ajaxMsg').css("color","red");
                 }
                 else{
             	    alert("Ha ocurrido un error en el sistema.");
                 }
          });
        }else{
            alert("Selecciona una opción valida");
        }
    });
</script>
{% endblock %}