{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de agendas{% endblock %}


{% block cuerpo %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Inicia</th>
                <th>Termina</th>
                <th>Tiempo</th>
                <th>Estado</th>
                <th>Agenda</th>
                <th>Asignada</th>
                <th>Sede</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td><a href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ loop.index }}</a></td>
                <td>{{ agenda.fechaInicio | date('d-m-Y H:i') }}</td>
                <td>{{ agenda.fechaFin | date('d-m-Y H:i') }}</td>
                <td>{{ agenda.intervalo }}</td>
                <td>{{ agenda.estado }}</td>
                <td>{{ agenda.nota }}</td>
                <td>{{ agenda.profesional}}</td>
                <td>{{ agenda.sede }}</td>
            </tr>
         {% else %}
         	<tr>
         		<td colspan="7">No tenemos agendas creadas.</td>
         	</tr>
        {% endfor %}
        </tbody>
    </table>
        
        {% if agendas %}
            {{ knp_pagination_render(agendas) }}
    	{% endif %}
    
    <a href="{{ path('agenda_new') }}" class="btn">Nuevo agenda</span></a>
{% endblock %}
