{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Nueva agenda{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	
	<link href="{{ asset('bundles/dlaser/js/datePicker/jquery.datetimepicker.css') }}" rel="stylesheet" type="text/css" />	
	 
{% endblock %}

{% block cuerpo %}

<form action="{{ path('agenda_save') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Datos de la agenda</legend>
    	{{ form_widget(form) }}
    </fieldset>
    
    <button class="btn btn-success" type="submit">Crear</button>
    <a href="{{ path('agenda_list') }}" class="btn">Regresar al listado</a>    
</form>
{% endblock %}


{% block javascripts %}

<script src="{{ asset('bundles/dlaser/js/datePicker/jquery.js') }}"></script>
<script src="{{ asset('bundles/dlaser/js/datePicker/jquery.datetimepicker.js') }}"></script>

<script type="text/javascript">

jQuery(function(){
	 jQuery('#Agenda_fecha_inicio').datetimepicker
	 ({
	  lang:'es',
	  format:'d/m/Y H:i',
	  minDate:'-1970/01/1',	  
	  timepicker:true
	 });
	 jQuery('#Agenda_fecha_fin').datetimepicker
	 ({
	  lang:'es',
	  format:'d/m/Y H:i',
	  minDate:'-1970/01/1',
	  timepicker:true
	 });
	});	
</script>
{% endblock %}
