{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}


{% block cuerpo %}

<h1><p align="center">Informe Citas Paciente {{ paciente.priNombre }} {{ paciente.segNombre }} {{ paciente.priApellido }} {{ paciente.segApellido }}</p></h1>
	<h5> C.C :{{ paciente.identificacion }}  Movil : {{ paciente.movil }}</h5>

{% if cupos %}
	{% set misEstados = {'A':'Pendiente','CA':'Cancelado','RE':'Reprogramado','CO':'Incumplida la cita','CU':'Cumplido sin cita','IN':'Incumplido','PN':'Programar Nueva Cita','DE':'Desertor','NO':'No iniciada','FI':'Finalizado', 'PD': 'Cumplida con cita'} %}
	    <div>	    
	        <table class="table table-hover">
	            <thead>
	                <tr>
	                	<th>##</th>
	                	<th>Estado</th>	
	                    <th>Fecha Agenda</th>
	                    <th>Fecha Cita</th>
	                    <th>Agenda</th>
	                    <th>Nota</th>
	                    <th>Observacion</th>	                    
	                    <th>Actividad</th>	                                        
	                </tr>
	            </thead>
	            <tbody>
	            	{% for cupo in cupos %}
	            		<tr>
	            			<td>{{ loop.index}}</td>
							<td><span class="label label-info"> {{ misEstados[cupo.estado]}}</span></td>
	            			<td>{{ cupo.fechaAgenda | date('d/m/Y') }}</td>
	            			<td>{{ cupo.horaCupo | date('h:i') }}</td>
	            			<td>{{ cupo.agenda }}</td>	            			
	            			<td>{{ cupo.nota }}</td>	         	         	            			
	            			<td>{{ cupo.verificacion }}</td>      			
	            			<td>{{ cupo.cargo }}</td>	            			        			
	            		</tr>
	            	{% endfor %}	            	
	            </tbody>
	        </table>       
	    </div>
	    
	    {{ knp_pagination_render(cupos) }}
	    {% else %}
	     <h5>No hay información disponible</h5>
    {% endif %} 	
{% endblock %}