{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Informe de Citas, estado de {{misEstados[estado]}}{% endblock %}

{% set misEstados = {'A':'Asignado','CA':'Cancelado','RE':'Reprogramado','CO':'Confirmado','CU':'Cumplido','IN':'Incumplido','PN':'Programado Nueva Cita','DE':'Desertor','NO':'No iniciada','FI':'Finalizado'} %}


{% block cuerpo %}
            
    {% if cupos %}
	    <div>
	    <h5>Informe realizado entre las fechas 
	    		<span class="label label-success">{{ dateStart | date('d/m/Y') }} </span> hasta 
	    		<span class="label label-success">{{ dateEnd | date('d/m/Y') }} </span>
	    </h5>
	        <table>
	            <thead>
	                <tr>
	                	<th>##</th>
	                	<th>Identificacion</th>	                                      
	                    <th>Paciente</th>
	                    <th>Movil</th>
	                    <th>Fecha Agenda</th>
	                    <th>Fecha Cita</th>
	                    <th>Agenda</th>
	                    <th>Nota</th>
	                    <th>Observacion</th>	                    
	                    <th>Actividad</th>	                                        
	                </tr>
	            </thead>
	            <tbody>
	            	{% for cupo in cupos %}
	            		<tr>
	            			<td>{{ loop.index}}</td>
	            			<td>{{ cupo.identificacion }}</td>
	            			<td><span class="label label-info">{{ cupo.priNombre }} {{ cupo.priApellido }}</span></td>
	            			<td>{{ cupo.movil }}</td>	            			
	            			<td>{{ cupo.fechaAgenda | date('d/m/Y') }}</td>
	            			<td>{{ cupo.horaCupo | date('h:i') }}</td>
	            			<td>{{ cupo.agenda }}</td>	            			
	            			<td>{{ cupo.nota }}</td>	         	         	            			
	            			<td>{{ cupo.verificacion }}</td>      			
	            			<td>{{ cupo.cargo }}</td>	            			        			
	            		</tr>
	            	{% endfor %}	            	
	            </tbody>
	        </table>       
	    </div>
	    {% else %}
	     <h5>No hay información disponible</h5>
    {% endif %}    
{% endblock %}