{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Reporte General{% endblock %}


{% block cuerpo %}

{% set mylist = {'F': 'CUMPLIDA', 'A': 'NO ASISTIDA', 'C': 'CANCELADA'} %}
<div>
		<table border="1">
			<thead> 
				<tr>
					<th><b> Fecha Agenda		</b></th>
					<th><b> Codigo Cargo		</b></th>		
					<th><b> Nombre Cargo		</b></th>
					<th><b> Cantidad 			</b></th>
					<th><b> Estado				</b></th>
					<th><b> Nombre Agenda		</b></th>
					<th><b> Sede				</b></th>							
				</tr>
			</thead>
			<tbody>
				{% for entity in entities %}
					<tr>
						<td>{{ entity.fechaInicio | date('d/m/Y H:i')}}</td>						
						<td>{{ entity.cups}}</td>
						<td>{{ entity.nombre}}</td>
						<td>{{ entity.cantidad }}</td>
						<td>{{ mylist[entity.estado]}}</td>
						<td>{{ entity.agenda }}</td>
						<td>{{ entity.sede }}</td>						
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	      		
{% endblock %}