{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}


{% block cuerpo %}

<h1><p align="center">Informe Citas Paciente {{ paciente.priNombre }} {{ paciente.segNombre }} {{ paciente.priApellido }} {{ paciente.segApellido }}</p></h1>
	<h5> C.C :{{ paciente.identificacion }}  Movil : {{ paciente.movil }}</h5>

{% set mylist = {'F': 'CUMPLIDA', 'A': 'NO ASISTIDA', 'C': 'CANCELADA'} %}

 <table>
 	<thead>
		<tr>
	    	<th>No</th>	        
	        <th>Fecha</th>
	        <th>Estado</th>
	        <th>Nota</th>
	        <th>Actividad</th>          
		</tr>  
	</thead>
    <tbody>
    	<!-- la suma de los cliente se esta manejando por medio de los id de los clientes q se encuentran creados en la base de datos.-->
    	{% set mylist = {'F': 'CUMPLIDA', 'A': 'NO ASISTIDA', 'C': 'CANCELADA'} %}
		
		
		{% for entities in entity %}						
        	<tr>
            	<td>{{ loop.index }}</td>
            	<td>{{ entities.hora | date('d-m-Y h:i') }}</td>
            	<td>{{ mylist[entities.estado] }}</td>
            	<td>{{ entities.nota }}</td>                
                <td>{{ entities.nombre }}</td>
			</tr>
        {% endfor %}       
	</tbody>
</table>	
	      		
{% endblock %}