{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Reporte Citas{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	
	<link href="{{ asset('bundles/dlaser/css/jquery-ui.custom.css') }}" rel="stylesheet" type="text/css" />	
	 
{% endblock %}

{% block cuerpo %}

<form action="{{ path('informe_tipo_citas') }}" onSubmit="return confirm('Seguro de querer generar el reporte?');" method="post">
    <fieldset>
    	<legend>Datos del reporte</legend>

    <div>
    	<label for="sede">Sede:</label>
    	<select id="sede" name="sede">
    	    <option value="">Todas las sedes</option>
    	    {% for sede in sedes %}
      			<option value="{{ sede.id }}">{{ sede.nombre }}</option>
       		{% endfor %}
      	</select>
    </div>
    
    <div>
    	<label for="tipo">Tipo:</label>
    	<select id="tipo" name="tipo">
    		<option value="A">Asignado</option>
    	    <option value="CA">Carcelado</option>    	    
    	    <option value="CO">Confirmado</option>
    	    <option value="CU">Cumplido</option>
    	    <option value="IN">Incumplida</option>
    	    <option value="PD">Citas Programadas</option>
    	    <option value="DE">Desertor</option>
    	    <option value="NO">No Inicio</option>
    	    <option value="FI">Finalizado</option>    	    
      	</select>
    </div>    
    
    <div>
    	<label for="f_inicio">Desde:</label>
    	    <input type="text" name="f_inicio" id="f_inicio" />
    	    <span>(DD/MM/AAAA)</span>
    </div>
    
    <div>
    	<label for="f_fin">Hasta:</label>
    	    <input type="text" name="f_fin" id="f_fin" />
    	    <span>(DD/MM/AAAA)</span>
    </div>
    
    </fieldset>
    
    <button class="btn btn-success" type="submit">
        Generar
    </button>
    
</form>
	      		
{% endblock %}
{% block javascripts %}

<script src="{{ asset('bundles/dlaser/js/jquery-ui.js') }}"></script>
<script src="{{ asset('bundles/dlaser/js/jquery-ui.min.js') }}"></script>

<script type="text/javascript">

$(function() {   

    $( "#f_inicio" ).datepicker({
        defaultDate: "+1w",
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
          $( "#f_fin" ).datepicker( "option", "minDate", selectedDate );
        }
      });

    $( "#f_fin" ).datepicker({
        defaultDate: "+1w",
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
          $( "#f_inicio" ).datepicker( "option", "maxDate", selectedDate );
        }
      });
});
	
</script>
{% endblock %}