{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Detalles del cliente{% endblock %}


{% block cuerpo %}

    <table class="table table-hover">
        <tbody>
            <tr>
                <th><strong>Nit</strong></th>
                <td>{{ cliente.nit }}</td>
            </tr>
            <tr>
                <th><strong>Nombre</strong></th>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <th><strong>Código de la eps</strong></th>
                <td>{{ cliente.codEps }}</td>
            </tr>
        </tbody>
    </table>
    
    
    <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}" class="btn">Modificar cliente</a>
    <a href="{{ path('cliente_list') }}" class="btn">Regresar al listado</a>
    
    <h2>Contratos</h2>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Contacto</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Porcentaje</th>
                <th>Sede</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
        {% for contrato in contratos %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a class="btn btn-link" href="{{ path('contrato_show', { 'id': contrato.id }) }}">{{ contrato.contacto }}</a></td>
                <td>{{ contrato.telefono }} - {{ contrato.celular }}</td>
                <td>{{ contrato.estado }}</td>
                <td>{{ contrato.porcentaje * 100}}%</td>
                <td>{{ contrato.sede }}</td>
                <td>{{ contrato.sede.ciudad }}</td>
            </tr>
         {% else %}
         	<tr>
         		<td colspan="5">No tenemos contratos definidos.</td>
         	</tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('contrato_new', { 'id': cliente.id }) }}" class="btn">Crear contrato</a>

{% endblock %}
