{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Nueva empresa{% endblock %}


{% block cuerpo %}

<form action="{{ path('empresa_save') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Datos de la empresa</legend>
    	{{ form_widget(form) }}
    </fieldset>
    
    <button class="btn btn-success" type="submit">
        <span class="label">Crear</span>
    </button>
    <a href="{{ path('empresa_list') }}" class="btn"><span class="label">Regresar al listado</span></a>
    
</form>
{% endblock %}
