{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Nuevo Usuario{% endblock %}


{% block cuerpo %}

<form action="{{ path('usuario_save') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Datos del usuario</legend>
    	{{ form_widget(form) }}
    </fieldset>
    
    <button class="btn btn-success" type="submit">Crear</button>
    
    <a href="{{ path('usuario_list') }}" class="btn">Regresar al listado</a>
    
</form>
{% endblock %}
