{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Nuevo paciente{% endblock %}


{% block cuerpo %}
<form action="{{ path('paciente_save') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Datos del paciente</legend>
    	{{ form_widget(form) }}
    </fieldset>
    
    <button class="btn btn-success" type="submit">
        <span class="label">Crear</span>
    </button>
    <a href="{{ path('paciente_list',{'char':'A'}) }}" class="btn"><span class="label">Regresar al listado</span></a>
    
</form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/dlaser/js/jquery.chained.remote.js') }}"></script>
    
    <script type="text/javascript" charset="utf-8">
    	$(function() {    
            $("#newPaciente_mupio").remoteChained("#newPaciente_depto", "{{ path('municipios', {'id': 1010 }) }}");
        });     
    </script>
{% endblock %}
