{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Nuevo paciente{% endblock %}


{% block cuerpo %}
<form action="{{ path('paciente_save') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	<legend>Datos del paciente</legend>
    	{{ form_widget(form) }}
    </fieldset>
    
    <button class="btn btn-success" type="submit">
        <span class="label">Crear</span>
    </button>
    <a href="{{ path('paciente_list',{'char':'A'}) }}" class="btn"><span class="label">Regresar al listado</span></a>
    
</form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf-8">
    $("#newPaciente_depto").change(function(){
		
		var url="{{ path('paciente_findDepto') }}";
		var depto = $("#newPaciente_depto").val();

		if(depto == ""){
			   alert("Seleccione una opcion valida");
			}

			$.post(url,{
				depto: depto
				},function(data){
					if(data.responseCode==200){

						$('#newPaciente_mupio').empty();					

						$.each(data.mupio, function(i, val) {
							$('#newPaciente_mupio').append('<option value="'+val.id+'">'+val.municipio+'</option>');
						});					
					}
					else if(data.responseCode==400){
						alert("Ha ocurrido un error 400 información no disponible.");
		             }
		             else{
		         	    alert("Ha ocurrido un error en el sistema.");
		             }
		        })
	 }); 	    
    </script>
{% endblock %}
