{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de actividades realizadas{% endblock %}


{% block cuerpo %}
	<span class="label label-inverse">Sede:</span>
		<span class="label label-info">{{ sede.nombre }}</span>
		
	<span class="label label-inverse">Medico:</span>
		<span class="label label-info">{{ usuario.nombre }} {{ usuario.apellido }}</span>
		
	<span class="label label-inverse">Desde:</span>
		<span class="label label-info">{{ f_i }}</span>
		
	<span class="label label-inverse">Hasta:</span>
		<span class="label label-info">{{ f_f }}</span>
                
    {% if entities %}
    	<form action="{{ path('factura_honorario_imprimir') }}" method="post">
            <div>
    		<input type="hidden" name="sede" value="{{ sede.id }}" />
    		<input type="hidden" name="usuario" value="{{ usuario.id }}" />
    		<input type="hidden" name="f_inicio" value="{{ f_i }}" />
    		<input type="hidden" name="f_fin" value="{{ f_f }}" />
            </div>
    		
                <button class="btn" type="submit"><i class="icon-print"></i></button>
    		
    	</form>
    {% endif %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tipo</th>
                <th>Identificación</th>
                <th>Fecha</th>                
                <th>Paciente</th>
                <th>Procedimiento</th>
                <th>Observacion</th>
                <th>Valor</th>                
                <th>Estado</th>                
            </tr>
        </thead>
        <tbody>        
        
        {% set misEstados = {'A':'Pendiente','CA':'Cancelado','RE':'Reprogramado','CO':'Incumplida la cita','CU':'Cumplido sin cita','IN':'Incumplido','PN':'Programar Nueva Cita','DE':'Desertor','NO':'No iniciada','FI':'Finalizado', 'PD': 'Cumplida con cita'} %}
                        
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index}}</td>
                <td>{{ entity.tipoId }}</td>
                <td>{{ entity.identificacion }}</td>
                <td>{{ entity.fecha|date('d-m-Y') }}</td>                
                <td><a href="{{ path('paciente_edit', { 'id': entity.paciente }) }}" target="popup" title="Modificar admisión" onClick="popup(this.href,750,600); return false;">{{ entity.priNombre|capitalize }} {{ entity.segNombre|capitalize }} {{ entity.priApellido|capitalize }} {{ entity.segApellido|capitalize }}</a></td>
                <td>{{ entity.cargo }}</td>
                <td>{{ entity.observacion }}</td>
                <td>{{ entity.valor }}</td>                
                <td>{{ misEstados[entity.cupoEstado]}}</td>	               
            </tr>
         {% else %}
         	<tr>
         		<td colspan="10">No tenemos actividades realizades en este periodo de tiempo.</td>
         	</tr>
        {% endfor %}
        
        </tbody>
    </table>
        
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

	function popup(url,ancho,alto) {
		var posicion_x; 
		var posicion_y; 

		posicion_x=(screen.width/2)-(ancho/2); 
		posicion_y=(screen.height/2)-(alto/2); 

		window.open(url, "", "width="+ancho+",height="+alto+",menubar=0,toolbar=0,directories=0,scrollbars=yes,resizable=no,left="+posicion_x+",top="+posicion_y+"");
	}
</script>
{% endblock %}
