{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Admisiones del paciente {{ entities.0.priNombre|capitalize }} {{ entities.0.segNombre|capitalize }} {{ entities.0.priApellido|capitalize }} {{ entities.0.segApellido|capitalize }}{% endblock %}


{% block cuerpo %}
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Tipo</th>
                <th>Identificación</th>
                <th>Fecha</th>
                <th>Orden</th>
                <th>Paciente</th>
                <th>Actividad</th>
                <th>Valor</th>
                <th>Copago</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        
        {% set label_cargo = {'890202': 'CONSULTA', '881234': 'ECO', '895001': 'HOLTER', '894102': 'ESFUERZO', '895101': 'EKG', '920407': 'MIBI', '920408': 'DIPI', '893805': 'ESPIRO', '881236': 'ECOSTRESS', '896100': 'MAPA', '933600': 'R.C'} %}
        
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('factura_edit', { 'id': entity.id }) }}" title="Modificar admisión">{{ entity.id }}</a></td>
                <td>{{ entity.tipoId }}</td>
                <td>{{ entity.identificacion }}</td>
                <td>{{ entity.fecha|date('d-m-Y') }}</td>
                <td>{{ entity.autorizacion }}</td>
                <td><a href="{{ path('paciente_edit', { 'id': entity.paciente }) }}" target="popup" title="Modificar admisión" onClick="popup(this.href,750,600); return false;">{{ entity.priNombre|capitalize }} {{ entity.segNombre|capitalize }} {{ entity.priApellido|capitalize }} {{ entity.segApellido|capitalize }}</a></td>
                <td>{{ label_cargo[entity.cups] }}</td>
                <td>{{ entity.valor }}</td>
                <td>{{ entity.copago }}</td>
                <td>{{ entity.estado }}</td>
            </tr>
         {% else %}
         	<tr>
         		<td colspan="10">No tenemos actividades realizades en este periodo de tiempo.</td>
         	</tr>
        {% endfor %}
        
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

	function popup(url,ancho,alto) {
		var posicion_x; 
		var posicion_y; 

		posicion_x=(screen.width/2)-(ancho/2); 
		posicion_y=(screen.height/2)-(alto/2); 

		window.open(url, "", "width="+ancho+",height="+alto+",menubar=0,toolbar=0,directories=0,scrollbars=yes,resizable=no,left="+posicion_x+",top="+posicion_y+"");
	}
</script>
{% endblock %}