{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Detalles admisión{% endblock %}


{% block cuerpo %}

<table>
        <tbody>
        	<tr>
            	<th><b>Recibo No.</b></th>
                <td>{{entity.id}}</td>
                
            </tr>
            <tr>
        		<th><b>Fecha:</b></th>
                <td>{{entity.fecha | date('d-m-Y')}}</td>
            </tr>
            <tr>
        		<th><b>Cliente:</b></th>
                <td>{{entity.cliente.nombre}}</td>
            </tr>    
            <tr>
                <th><b>Identificacion:</b></th>
                <td>{{entity.paciente.tipoid}} - {{ entity.paciente.identificacion }}</td>
            </tr>
            <tr>
            	<th><b>Paciente:</b></th>
                <td>{{entity.paciente.prinombre|capitalize}} {{entity.paciente.segnombre|capitalize}} {{entity.paciente.priapellido|capitalize}} {{entity.paciente.segapellido|capitalize}}</td>
            </tr>
            <tr>
            	<th><b>Actividad:</b></th>
                <td>{{entity.cargo.cups}} - {{entity.cargo.nombre}}</td>
            </tr>
            <tr>
            	<th><b>Autorizacion:</b></th>
                <td>{{entity.autorizacion}}</td>
            </tr>
            <tr>
            	<th><b>Valor:</b></th>
                <td>${{entity.valor|number_format(0)}}</td>
            </tr>
            <tr>
            	<th><b>Copago:</b></th>
                <td>${{entity.copago|number_format(0)}}</td>
            </tr>
            <tr>
            	<th><b>Descuento:</b></th>
                <td>${{entity.descuento|number_format(0)}}</td>
             </tr>
             <tr>
            	<th><b>Total EPS:</b></th>
                <td>${{ ((entity.valor - entity.copago) - entity.descuento)|number_format(0) }}</td>
            </tr>
            <tr>
            	<th><b>Observacion:</b></th>
                <td>{{entity.observacion}}</td>
             </tr>
        </tbody>
    </table>

<a href="{{ path('factura_imprimir', { 'id': entity.id }) }}" target="blank" class="btn btn-primary">Imprimir</a>
<a href="{{ path('factura_edit', { 'id': entity.id }) }}" class="btn btn-success">Modificar</a>
<a href="{{ path('factura_search')}}" class="btn">Nueva Factura</a>


{% endblock %}