{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Detalles de la agenda{% endblock %}


{% block cuerpo %}

    <table>
        <tbody>
            <tr>
                <th>Inicia</th>
                <td>{{ agenda.fechaInicio|date('d-m-Y H:i') }}</td>
            </tr>
            <tr>
                <th>Finaliza</th>
                <td>{{ agenda.fechaFin|date('d-m-Y H:i') }}</td>
            </tr>
            <tr>
                <th>Intervalo</th>
                <td>{{ agenda.intervalo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>
                    {% if agenda.estado == 'A' %}
            		    Activo
            	    {% else %}
            		    Inactivo
            	    {% endif %}
            	</td>
            </tr>
            <tr>
                <th>Nota</th>
                <td>{{ agenda.nota }}</td>
            </tr>
            <tr>
                <th>Sede</th>
                <td>{{ agenda.sede.nombre }}</td>
            </tr>
            <tr>
                <th>Asignada</th>
                <td>{{ agenda.usuario.nombre }} {{ agenda.usuario.apellido }}</td>
            </tr>
        </tbody>
    </table>
    
    
    <a href="{{ path('agenda_edit', { 'id': agenda.id }) }}" class="btn"><span class="label">Modificar agenda</span></a>
    <a href="{{ path('agenda_list') }}" class="button middle"><span class="label">Regresar al listado</span></a>
    <a href="{{ path('restriccion_new') }}" class="button right"><span class="label">Crear restricción</span></a> 
    
    <table>
        <caption>Registro de restricciones asociadas</caption>
        <thead>
            <tr>
                <th>No.</th>
                <th>Cliente</th>
                <th>Cargo</th>
                <th>Sede</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
        {% for restriccion in restricciones %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ restriccion.cliente.nombre }}</td>
                <td>{{ restriccion.cargo.nombre }}</td>
                <td>{{ restriccion.sede.nombre }}</td>
                <td>{{ restriccion.cantidad }}</td>
                <td><a class="button" href="{{ path('restriccion_delete', { 'id': restriccion.id, 'agenda': restriccion.agenda.id}) }}" title="Eliminar"><span class="icon icon186"></span></a></td>
            </tr>
         {% else %}
         	<tr>
         		<td colspan="4">No tenemos restricciones creadas.</td>
         	</tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script>
        
        $("#newRestrict").click(function () {
            $("#createRestrict").fadeIn("slow");
        });
        
    </script>
{% endblock %}
